
.layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}

.layoutBody {
  display: flex;
  flex: 1;
}

.contentBox {
  flex: 1;
  border: 1px solid black;
  text-align: center;
  padding: 70px;
  font-size: xx-large;
}

.navBox, .asideBox {
  flex: 0 0 12em;
}

.navBox {
  order: -1;
}

h1, footer {
  height: 200px;
  text-align: center;
  font-family: 'Lato', sans-serif;
}
