
.layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}

.layoutBody {
  display: flex;
  flex: 1;
}

.contentBox {
  flex: 1;
  border: 1px solid black;
  text-align: center;
  padding: 70px;
  font-size: xx-large;
}

.nextQuestion{
  text-align: right;
}

.navBox, .asideBox {
  flex: 0 0 12em;
}

.navBox {
  order: -1;
}

h1, footer {
  height: 100px;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.card {
    height: 199px;
    width: 300px;
    margin: 0 auto;
}
.card .front {
    width: 300px;
    height: auto;
}
.card .back {
    background: #2184cd;
    color: #fff;
    text-align: center;
}

.navBox, .asideBox{
  text-align: center;
}

footer {
  padding: 75px;
}

#questionCard, #answerCard {
  font-size: 40px;
}

#answerCard {
  display: none;
  background: grey;
}

#answerInput {
  font-size: 20px;
}

#questionCard, #answerResponse {
  padding: 30px;
}


input[type="button"]{
  font-size: 20px;
  width: 200px;
  font-family: 'Open Sans', sans-serif;
  background-color: black;
  color: white;
}
